<div class="card">
  <div class="card-header">
    <h1>{{postagem.titulo}}</h1>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{postagem.conteudo}}
      </p>
      <footer class="blockquote-footer">
        <cite title="{{postagem.data}}">Data de publicação</cite></footer>
    </blockquote>
  </div>
</div>