<a href="/"><button class="btn btn-success">Inicio</button></a>
<a href="admin/categorias"><button class="btn btn-success">categorias - admin</button></a>
<a href="admin/postagem"><button class="btn btn-success">Post - admin</button></a>